.DS_Store
Thumbs.db

nanas-frontend/node_modules/
nanas-frontend/src/firebase.ts

nanas-backend/HELP.md
nanas-backend/target/
nanas-backend/.mvn/
nanas-backend/firebase-adminsdk.json


.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
.idea/
*.iws
*.iml
*.ipr
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
.vscode/
